{% extends 'index.html' %}

{% load staticfiles %}

{% block content %}

<div class="row">



    <!-- Begin location history list -->

    <div id="truck_list" class="col">
      {% block list_trucks %}
        {#{% include 'home/list_trucks.html'%}#}
      {% endblock %}
      <h5>Search_Input: {{search_input}}</h5>
      <h5>Origin: {{origin}}</h5>
      <h5>Origin Location: {{origin_location}}</h5>

      {% for destination in destinations %}
      <h5>Vendor Id: {{destination.vendor_id}} Address: {{destination.address}} Timestamp: {{destination.timestamp}}</h5>
      {% endfor %}

      <!-- {% for key, values in destinations.items %}
      <h5>{{key}}}: {{value}}</h5>
      {% endfor %} -->
      <!-- <h5>Time: {{time}}</h5> -->
    </div>


  <!-- Placement of local map -->

  <div id="home-map" class="col-7">

  </div>

</div>
{% endblock content %}

{% block script_google %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap"></script>
{% endblock script_google %}