{% extends 'index.html' %}

{% load staticfiles %}

{% block content %}

<div class="row">



    <!-- Begin location history list -->

    <div id="truck_list" class="col">
      {% block list_trucks %}
        {#{% include 'home/list_trucks.html'%}#}
      {% endblock %}

    </div>


  <!-- Placement of local map -->

  <div id="home-map" class="col-7">

  </div>

</div>
{% endblock content %}

{% block script_google %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap"></script>
{% endblock script_google %}