/* Global Styles */

html, body {
  /* height: 100vh; */
  margin: 0;
  padding: 0;
}

/* Vendor Page Styles */
#vendor-map {
 
}

/* Welcome (Index) Page Styles */
.welcome-modal {
  background: purple;
}

/* Home Page Styles */
#home-map {
  height: 990px;
}