/* Global Styles */

html, body {
  width: auto;
  height: 1026px;
}

  /* NavBar*/
  .navbar {
    background-color: #FFFFFF;
    /* width: 1440px; */
    height: 119px;
  }

  .navbar-brand {
    color: #47525E;
    font-family: Lato;
    font-size: 74px;
    font-weight: 400;
    line-height: 55px;
    width: 402px;
    text-align: left;
  }

  #btn-login {
    background-color: #90BECB;
    border: 2px solid #47525E;
    border-radius: 5px;
    width: 203.19px;
    height: 53px;
  }

  .btn-text {
    position: relative;
    bottom: 12px;
    color: #47525E;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 62px;
    width: 203.19px;
    text-align: center;
  }

  .btn-img {
    width: 36px;
    height: 36px;
  }

/* Vendor Page Styles */
#vendor-map {
 
}

/* Welcome (Index) Page Styles */
.background-welcome {
  background-image: url("../images/background-donuts.jpeg");
  width: auto;
  height: 1026px;
}

.welcome-modal {
  background: purple;
}

/* Home Page Styles */
#home-map {
  height: 990px;
}