/* Global Styles */

html, body {
  width: auto;
  height: auto;
}

  /* NavBar*/
  .navbar {
    background-color: #FFFFFF;
    /* width: 1440px; */
    height: 119px;
  }

  .navbar-brand {
    color: #47525E;
    font-family: Lato;
    font-size: 74px;
    font-weight: 400;
    line-height: 55px;
    width: 402px;
    text-align: left;
  }

  #btn-login {
    background-color: #90BECB;
    border: 2px solid #47525E;
    border-radius: 5px;
    width: 203.19px;
    height: 53px;
  }

  .btn-text {
    position: relative;
    bottom: 12px;
    color: #47525E;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 62px;
    width: 203.19px;
    text-align: center;
  }

  .btn-img {
    width: 36px;
    height: 36px;
  }

/* Vendor Page Styles */
#vendor-map {
 
}

/* Welcome (Index) Page Styles */
.background-welcome,
.background-register {
  background-image: url("../images/background-donuts.jpeg");
  width: auto;
  height: 1026px;
}

.welcome-modal,
.register-modal {
  position: relative;
  top: 115px;
  bottom: 186px;
  background-color: #90BECB;
  border-radius: 38px;
  opacity: 0.85;
  width: 706px;
  height: 647px;
}

.modal-title {
  position: relative;
  top: 45px;
  left: 70px;
  right: 88px;
  color: #FFFFFF;
  font-family: Lato;
  font-size: 55px;
  font-weight: 400;
  line-height: 71px;
  text-align: left;
}

.modal-content {
  position: relative;
  top: 130px;
  left: 10px;
  right: 18px;
  color: #FFFFFF;
  background-color: #90BECB;
  border: none;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  width: 669px;
  text-align: left;
}

.modal-enter {
  position: relative;
  top: 190px;
  left: 230px;
  right: 278px;
  color: #47525E;
  font-family: Lato;
  font-size: 31px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}

.modal-link img{
  position: relative;
  color: white;
  top: 210px;
  left: 260px;
  background-color: #47525E;
  border: 2px solid #47525E;
  border-radius: 100%;
  width: 73px;
  height: 73px;
  padding: 10px;
}

/* Register Page Styles */
.modal-subtitle {
  color: #47525E;
  font-family: Lato;
  font-size: 40px;
  font-weight: 700;
  line-height: 51px;
  width: 538px;
  text-align: center;
}

.register-content {
  color: #8190A5;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

#id_company_name,
#id_username,
#id_password {
  background-color: #FFFFFF;
  border: 1px solid #8492A6;
  border-radius: 5px;
  width: 257.34px;
  height: 44.83px;
}

.btn-signup {
  font-family: Lato;
  background-color: #47525E;
  border-color: #47525E;
  border-radius: 5px;
  width: 258.02px;
  height: 44.83px;
  color: #FFFFFF;
  font-size: 18px;
  text-align: center;
}

.link-to-home {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 26px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  text-decoration: underline;
}

.register-box-1 {
  position: relative;
  top: 65px;
  left: 60px;
  width: 600px;
}

.form-register {
  position: relative;
  top: 75px;
  left: 215px;
}
.register-box-2 {
  position: relative;
  top: 100px;
  left: 180px;
}

/* Home Page Styles */
#home-map {
  height: 990px;
}