{% load staticfiles %}

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">Navbar</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Vendor Login</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Return to Home</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Vendor Profile</button>
    </form>
  </nav>