{% load staticfiles %}

{% url 'website:home' as home %}
{% url 'website:welcome' as welcome %}
{% url 'website:vendor' as vendor %}

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">NASHEats</a>

  {% if not user.is_authenticated %}
  <div>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Vendor Profile</button>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="{% url 'logout' %}">Logout</a></button>
  </div>

  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </form>

  <div>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Vendor Login</button>
  </div>
  {% endif %}
</nav>