<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">NASHEats</a>

  {% if not user.is_authenticated %}

  {% block searchbar %}

    <form action={% url 'website:home' %} class="form-inline" method="GET">

      <input id="search-input" name="search-input" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

    </form>
  {% endblock searchbar %}

  <div>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="{% url 'login' %}">Vendor Login</a></button>
  </div>
  
  {% endif %}

  <!-- This is working -->
  {% if user.is_authenticated %}

  <div>
    {# <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="{% url 'profile' %}">Vendor Profile</a></button> #}
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="{% url 'logout' %}">Logout</a></button>
  </div>

  {% endif %}
</nav>